:root {
    --label-icon: url(./img/moon.png);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9E9E9;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;

    transition: background-color 0.8s linear;
}

body.dark {
    background-color: #1E1E1E;
    color: #E9E9E9;
}


.memoji {
    width: 100vw;
    height: 80vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.memoji__img {
    width: 25em;
}

.mudar-tema {
    background: var(--label-icon);
    background-repeat: no-repeat;
    cursor: pointer;

    padding: 67px;
    position: absolute;
    top: 4%;
    left: 4%;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    margin: 50px;
    background-color: #1E1E1E;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.moon,.sun {
    width: 18px;
    height: 18px;
    margin: auto;
    display: flex;
}


.texto__principal {
    font-family: 'Roboto', sans-serif;
    margin-right: 5em;
    font-size: 3em;

    transition: background-color 0.5s linear;
}



@media screen and (max-width: 1300px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto', sans-serif;
    }

    .memoji {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }

    .memoji__img {
        width: 12em;
        margin-left: 27px;
    }

    .texto__principal {
        font-family: 'Roboto', sans-serif;
        white-space: nowrap;
        font-size: 27px;
        font-weight: bold;
        margin: 0;
    }

}